.app-container {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.post-card {
  width: 23rem;
  margin: 14px 30px;
}

.badge-container {
  display: flex;
  flex-direction: row; 
  gap: 3px;
  flex-wrap: wrap;
}

.reactions {
  padding-top: 10px;
}

.create-post {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px
}

.spinner-container {
  padding-top: 60px;
}